<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nzcer.odapi.mapper.RepoMetricMapper">

    <resultMap id="BaseResultMap" type="cn.nzcer.odapi.entity.RepoMetric">
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="repoName" column="repo_name" jdbcType="VARCHAR"/>
            <result property="tMonth" column="t_month" jdbcType="DATE"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="tValue" column="t_value" jdbcType="DOUBLE"/>
    </resultMap>

    <insert id="insertRepoMetric" parameterType="cn.nzcer.odapi.entity.RepoMetric">
        insert into repo_metric (org_name, repo_name, t_month, type, t_value)
        values (#{orgName,jdbcType=VARCHAR}, #{repoName,jdbcType=VARCHAR},  #{tMonth,jdbcType=DATE}, #{type,jdbcType=VARCHAR}, #{tValue,jdbcType=DOUBLE})
    </insert>

    <insert id="insertBatchRepoMetric" parameterType="java.util.List">
        insert into repo_metric (org_name, repo_name, t_month, type, t_value)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.orgName,jdbcType=VARCHAR}, #{item.repoName,jdbcType=VARCHAR},  #{item.tMonth,jdbcType=DATE}, #{item.type,jdbcType=VARCHAR}, #{item.tValue,jdbcType=DOUBLE})
        </foreach>
    </insert>

    <update id="truncateRepoMetric">
        truncate table repo_metric
    </update>

</mapper>
